body{
  font-family: "Quicksand", sans-serif;
  margin: 0;
  color: rgb(69, 69, 69);
}
#page-logo a {
  padding: 25px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(69, 96, 42);
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 3px -3px 3px rgb(42, 24, 69);
}
ul{
  list-style:square;
  margin:0;
  padding: 0;
}

header ul{
  list-style: none;
  //margin: 10px;
  padding: 0;
  width: 250px;
  display: flex;
  justify-content: space-around;
}
header li{
  width: 69px;
}
header{
  display: flex;
  //flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  //background-color: lightyellow;
  //border: 2px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

header a {
  color: forestgreen;
  font-size: 20px;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
}

header .links:hover {
  color: gold;
  background-color: forestgreen;
}

footer{
  background-color: forestgreen;
  padding:20px;
}
footer img{
  width: 50px;
}
footer ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
footer li{
  margin: 0 15px;
}
