a{
  text-decoration: none;
}

#natureimage{
  height: 800px;
  background-image: url("images/parks/glacier.jpeg");
  background-size: cover;
  //border: 2px solid red;
}

#image-content{
  width: 500px;
  background-color: rgba(97, 151, 237, 0.7);
  box-shadow: 2px 4px 5px forestgreen;
  border-radius: 10px;
  //border: 3px solid red;
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
  position: relative;
  top: 80px;
}

#image-content h1 {
  color: gold;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

#image-content p{
  color: gold;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#image-content a {
  text-decoration: none;
  background-color: gold;
  color: black;
  padding: 10px 20px;
  font-size: 24px;
  //font-weight: bold;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(45, 87, 23, 0.8);
}

#image-content a:hover{
  background-color: rgb(255, 242, 0);
}

#bestparks, #bestparks2{
  display: flex;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  //border: 2px solid red;
  //justify-content: space-between;
  justify-content: center;
}
.bestpark{
  margin: 0 20px;
  width: 300px;
}

.bestpark p{
  text-align: center;
  text-transform: lowercase;
  font-size: 16px;
  margin: 10px 0 40px;
  color: rgb(172, 97, 237);
}
.bestpark img{
  height: 200px;
  width: 100%;
  border-radius: 30px;
  //object-fit: cover;
}
.bestpark strong{
  color: purple;
}

#beauty{
  padding: 30px;
  background-color: lightyellow;
  background: linear-gradient(30deg, gold, lightyellow);
}
#beauty h2{
  text-align: center;
  font-size: 2rem;
  color: rgb(69, 169, 42);
  margin: 100px 0 60px;
}
